.list-card {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.card {
    display: inline-block;
    margin: 15px;
    border-radius: 16px  16px 16px 16px;
    width: 272px;
    
    box-shadow: 2px 7px 13px 0px rgba(0,0,0,0.2);
    overflow: hidden; 
    
    border-color: #000000;
}
.card-body{
    flex-grow: 1;
    padding: 24px; 
}

.card-title{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px; 
    padding: 0px; 
}
.card-text{
    line-height: 1.4;
    margin: 10px 0px 0px 0px; 
    font-size: 17px;
    color: #000000;
    
}

.onSale {
    background-color: #99ff71;
    border-left: 5px solid #3c763d;
    
}

.out-of-stock {
    color: red;
    font-weight: bold;
}
  